[Unit]
Description=Start Robin

[Service]
Type=simple
ExecStart=/home/robin/robin/start > /home/robin/robin.log 2>&1
User=robin
Restart=on-failure

[Install]
WantedBy=multi-user.target

